.white-flat{
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 0;
}
body{
	background-image: url('cubes.png');
}
.panel-body.main{
	padding: 0;
	h1,h2,h3,h4,h5,h6,span,a{
		margin-left: 15px;
		margin-right: 15px;
	}
}
.search{
	border: 0;
	box-shadow: none;
	background: rgba(0, 0, 0, 0);
	border-top: 1px solid rgba(1, 1, 1, 0.03);
}